# NOTICE:
# Vue app will only detect VUE_APP_* envs

# Django
DEBUG=True
SECRET_KEY=CHANGEME!!!
HOST=0.0.0.0
DOMAIN=http://localhost:8005
ALLOWED_HOSTS=*

# PostgreSQL
POSTGRES_DB=project
POSTGRES_PASSWORD=mysecretpass
POSTGRES_USER=postgresuser
